.TodosHeader--container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}

.TodosHeader--title {
  color: var(--white);
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 15px;
}

.TodosHeader--theme-icon {
  cursor: pointer;
  height: 26px;
}
